@inherits TicketFormBase

<RadzenFieldset Text="Ticket">
    <div class="row">
        <div class="col-md-6">
            <div class="row field">
                <RadzenLabel Text="Titre" />
                <RadzenTextBox style="width: 100%;" Name="Name" @bind-Value=@NewTicketData.Title />
            </div>
            <div class="row field">
                <RadzenLabel Text="Catégorie" />
                <RadzenDropDown style="width: 100%;" TValue="int"
                Data=@Categories TextProperty="Value" ValueProperty="Key" @bind-Value=@NewTicketData.IdCategory />
            </div>
        </div>
        <div class="col-md-6">
            <div class="row field">
                <RadzenLabel Text="Description" />
                <RadzenTextArea style="width: 100%; height: 100%; padding-bottom: 12px;" Rows="4"  Name="Description" @bind-Value=@NewTicketData.Description />
            </div>
        </div>
    </div>
</RadzenFieldset>
@if (Message != "")
{
    <div class="col-12 form-warning-message">
        <p Style="margin-bottom: 10px;">@Message</p>
    </div>
}
<div class="row justify-content-center">
    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Sauvegarder" Click="SubmitAsync" />
        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Annuler" Click="@((args) => DialogService.Close(false))" />
    </div>
</div>
