@page "/ticket/edit/{Id:int}"
@inherits EditTicketBase

<div class="container">
    @if(ContentStatus == ContentStatus.Loading)
    {
        <p>Chargement...</p>
    }
    else if (ContentStatus == ContentStatus.Ok)
    {
        <div class="row">
            <div class="col-3">
                <h2>@Ticket.Code</h2>
            </div>
            <div class="col-6 center-align">
                <RadzenTextBox style="width: 100%;" Name="Name" @bind-Value=@Ticket.Title />
            </div>
            <div class="col-3 right-align">
                <RadzenDropDown style="width: 100%;" TValue="int"
                Data=@Categories TextProperty="Value" ValueProperty="Key" @bind-Value=@Ticket.IdCategory />
            </div>
        </div>
        <div class="row" style="padding: 16px;">
            <div class="col-12">
                <RadzenTextArea style="width: 100%; height: 100%" Name="Description" @bind-Value=@Ticket.Description />
            </div>
        </div>        
        <div class="row" style="padding: 16px;"></div>
        <div class="row">
            <div class="col-6">
                <p>Émis par <strong>@Ticket.IssuedBy</strong></p>
            </div>
            <div class="col-6 right-align" id="category-div" >
                <RadzenDropDown style="width: 100%;" TValue="int"
                Data=@States TextProperty="Value" ValueProperty="Key" @bind-Value=@Ticket.IdState />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Émis le <strong>@Ticket.IssueDate.ToString("dd/MM/yyyy")</strong> à <strong>@Ticket.IssueDate.ToString("HH:mm")</strong></p>
            </div>
            <div class="col-6 right-align">
                <p>Résolu par </p>
                <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" TValue="int?" style="width: 100%;"
                Data=@Users TextProperty="FirstnameLastname" ValueProperty="Id" @bind-Value=@Ticket.IdResolver />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Assigné à </p>
                <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" TValue="int?" style="width: 100%;"
                Data=@Users TextProperty="FirstnameLastname" ValueProperty="Id" @bind-Value=@Ticket.IdAssignee />
            </div>
            <div class="col-6 right-align">
                <p>Résolu le <strong>@Ticket.ResolveDateAsString</strong> à <strong>@Ticket.ResolveTimeAsString</strong></p>
            </div>
        </div>
        <div class="row" style="padding: 16px;"></div>
        <div class="row">
            <div class="col-6">
                <RadzenButton Text="Enregistrer" Click="SubmitAsync" />
            </div>
        </div>
    }
    else if(ContentStatus == ContentStatus.Error)
    {
        <p>Ticket introuvable</p>
    }
</div>
