@page "/ticket"
@page "/tickets"
@page "/"
@inherits TicketListBase
@layout AuthorizationLayout

<RadzenDialog />
<div class="row">
    <div class="col-12">
        <h1>Tickets</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <RadzenButton Text="Nouveau ticket" Click=@(args => DialogService.Open<TicketForm>("Nouveau ticket", null, new DialogOptions(){ Width = "800px", Height = "360px" })) />
    </div>
</div>

@if(ContentStatus == ContentStatus.Loading)
{
    <p>Chargement...</p>
}
else if(ContentStatus == ContentStatus.Ok)
{
    <div class="row">
        <div class="col-12">
            <RadzenGrid AllowColumnResize="true" AllowFiltering="true" AllowPaging="true" AllowSorting="true"
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" PageSize="20" Data="Tickets"
            TItem="TicketResponse">
                <Columns>
                    <RadzenGridColumn TItem="TicketResponse" Property="Code" Title="N°">
                        <Template Context="Ticket">
                            <a href="/ticket/@Ticket.IdTicket.ToString()">@Ticket.Code</a>
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="TicketResponse" Property="Title" Title="Titre" />
                    <RadzenGridColumn TItem="TicketResponse" Property="IssuedBy" Title="Émis par" />
                    <RadzenGridColumn TItem="TicketResponse" Property="IssueDate" Title="Émis le" />
                    <RadzenGridColumn TItem="TicketResponse" Property="AssignedTo" Title="Assigné à" />
                    <RadzenGridColumn TItem="TicketResponse" Property="ResolvedBy" Title="Résolu par" />
                    <RadzenGridColumn TItem="TicketResponse" Property="ResolveDate" Title="Résolu le" />
                    <RadzenGridColumn TItem="TicketResponse" Property="Category" Title="Catégorie" />
                    <RadzenGridColumn TItem="TicketResponse" Property="State" Title="État" />
                    @if(String.Equals(CurrentUserPrivilege, PrivilegeConstants.Administrator, StringComparison.OrdinalIgnoreCase) || String.Equals(CurrentUserPrivilege, PrivilegeConstants.Moderator, StringComparison.OrdinalIgnoreCase))
                    {
                        <RadzenGridColumn TItem="TicketResponse" Title="Éditer">
                            <Template Context="Ticket">
                                <a href="/ticket/edit/@Ticket.IdTicket.ToString()"><RadzenButton><RadzenIcon Icon="create" /></RadzenButton></a>
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="TicketResponse" Title="Supprimer">
                            <Template Context="Ticket">
                                <RadzenButton Click=@(args => ShowConfirmDialogAsync(@Ticket.IdTicket))><RadzenIcon Icon="delete" /></RadzenButton>
                            </Template>
                        </RadzenGridColumn>
                    }
                </Columns>
            </RadzenGrid>
        </div>
    </div>
}
