@page "/ticket/{Id:int}"
@inherits ViewTicketBase
@layout AuthorizationLayout

<div class="container">
    @if(ContentStatus == ContentStatus.Loading)
    {
        <p>Chargement...</p>
    }
    else if (ContentStatus == ContentStatus.Ok)
    {
        <div class="row">
            <div class="col-3">
                <h2>@Ticket.Code</h2>
            </div>
            <div class="col-6 center-align">
                <h2>@Ticket.Title</h2>
            </div>
            <div class="col-3 right-align">
                <h2>@Ticket.Category</h2>
            </div>
        </div>
        <div class="row" style="padding: 16px;"></div>
        <div class="row">
            <div class="col-12">
                <p>@Ticket.Description</p>
            </div>
        </div>
        <div class="row" style="padding: 16px;"></div>
        <div class="row">
            <div class="col-6">
                <p>Émis par <strong>@Ticket.IssuedBy</strong></p>
            </div>
            <div  class="col-6 right-align">
                <h2>@Ticket.State</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Émis le <strong>@Ticket.IssueDate.ToString("dd/MM/yyyy")</strong> à <strong>@Ticket.IssueDate.ToString("HH:mm")</strong></p>
            </div>
            <div class="col-6 right-align">
                @if(Ticket.ResolvedBy != null)
                {
                    <p>Résolu par <strong>@Ticket.ResolvedBy</strong></p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @if(Ticket.AssignedTo != null)
                {
                    <p>Assigné à <strong>@Ticket.AssignedTo</strong></p>
                }
            </div>
            <div class="col-6 right-align">
                @if(!string.IsNullOrEmpty(Ticket.ResolveDateAsString))
                {
                    <p>Résolu le <strong>@Ticket.ResolveDateAsString</strong> à <strong>@Ticket.ResolveTimeAsString</strong></p>
                }
            </div>
        </div>
        @if(String.Equals(CurrentUserPrivilege, PrivilegeConstants.Administrator, StringComparison.OrdinalIgnoreCase) || String.Equals(CurrentUserPrivilege, PrivilegeConstants.Moderator, StringComparison.OrdinalIgnoreCase))
        {
            <div class="row" style="padding: 16px;"></div>
            <div class="row">
                <div class="col-6">
                    <a href="/ticket/edit/@Id.ToString()"><RadzenButton Text="Éditer" /></a>
                </div>
                <div class="col-6 right-align">
                    <RadzenButton Text="Supprimer" Click=@(args => ShowConfirmDialog(@Ticket.IdTicket)) />
                </div>
            </div>
        }
    }
    else if(ContentStatus == ContentStatus.Error)
    {
        <p>Ticket introuvable</p>
    }
</div>
