.container {
    margin-top: 20px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}