@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, .btn-link {
  color: #0366d6;
}

.form-container {
  max-width: 500px;
  padding-top: 10%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
}
.form-container .form-warning-message {
  font-size: 14px;
  text-align: left;
  font-style: italic;
  color: #c70000;
}
.form-container .illustration {
  padding-bottom: 25px;
}

.btn-primary {
  outline: none !important;
  border: 1px solid #327074 !important;
  box-shadow: none !important;
  background-color: #327074 !important;
}

.btn-primary:hover,
.btn-primary:active {
  background: #1e595e !important;
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

/*# sourceMappingURL=app.css.map */
