@page "/login"
@inherits LoginBase

<div class="form-container" @onkeydown="SummitWithKeyboard">
    <RadzenCard>
        <RadzenTemplateForm Data=@("SimpleLogin")>
            <div class="illustration">
                <RadzenImage Path="img/logo.svg" />
            </div>
            <div class="row">
                <div class="col-12">
                    <RadzenTextBox @oninput=@(x => LoginData.Email = x.Value.ToString()) Placeholder="Email"
                        Style="margin-bottom: 20px; width: 100%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <RadzenPassword @oninput=@(x => LoginData.Password = x.Value.ToString()) Placeholder="Mot de passe"
                        Style="margin-bottom: 10px; width: 100%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-warning-message">
                    <p Style="margin-bottom: 10px; margin-left: 3px;">@Message</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <RadzenButton Click="HandleLogin" Text="Connexion" Style="width: 100%;"/>
                </div>
            </div>
        </RadzenTemplateForm>
    </RadzenCard>
</div>
