@page "/user/new"
@inherits NewUserBase
@layout AuthorizationLayout

<div class="form-container">
    <RadzenCard>
         <div class="illustration">
                <RadzenImage Path="img/logo.svg" />
            </div>
    <div class="row">
        <div class="col-md-6">
             <RadzenTextBox @bind-Value=@RegisterData.Firstname Placeholder="Prénom" Style="width: 100%; margin-bottom: 20px;"/>
        </div>
        <div class="col-md-6">
            <RadzenTextBox @bind-Value=@RegisterData.Lastname Placeholder="Nom" Style="width: 100%; margin-bottom: 20px;"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <RadzenTextBox @bind-Value=@RegisterData.Email Placeholder="Email" Style="width: 100%; margin-bottom: 20px;" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <RadzenPassword @bind-Value=@RegisterData.Password Placeholder="Mot de passe" Style="width: 100%; margin-bottom: 20px;"  />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <RadzenPassword @bind-Value=@PasswordConfirmation Placeholder="Confirmation du mot de passe" Style="width: 100%; margin-bottom: 10px;" />
        </div>
    </div>
    <div class="row">
        <div Style="margin-bottom: 10px;" class="col-12">
            <RadzenCheckBox @bind-Value=@RegisterData.IsModerator  />
            <RadzenLabel Text="Accorder le rôle de modérateur ?" Style="margin-left: 5px" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <RadzenButton Click="RegisterAsync" Text="Créer un nouvel utilisateur" Style="width: 100%; margin-bottom: 5px;"/>
        </div>
    </div>
    <div class="col-12 form-warning-message">
        <p>@Message</p>
    </div>
    </RadzenCard>
</div>
