@page "/user"
@page "/users"
@inherits UserListBase
@layout AuthorizationLayout

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Utilisateurs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/user/new"><RadzenButton Text="Ajouter" Style="margin-bottom: 10px;"/></a>
        </div>
    </div>
    @if(ContentStatus == ContentStatus.Loading)
    {
        <p>Chargement...</p>
    }
    else if(ContentStatus == ContentStatus.Ok)
    {
        <div class="row">
            <div class="col-12">
                <RadzenGrid AllowColumnResize="true" AllowFiltering="true" AllowPaging="true" AllowSorting="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" PageSize="20" Data="Users" TItem="UserResponse">
                    <Columns>
                        <RadzenGridColumn TItem="UserResponse" Property="FirstnameLastname" Title="Prénom Nom"/>
                        <RadzenGridColumn TItem="UserResponse" Property="Email" Title="Email" />
                        <RadzenGridColumn TItem="UserResponse" Property="Privilege" Title="Rôle" />
                        <RadzenGridColumn TItem="UserResponse" Title="Promotion">
                            <Template Context="user">
                                @if(user.Privilege == PrivilegeConstants.User)
                                {
                                    <RadzenButton Text="Promouvoir modérateur" Click="(() => ChangeUserPrivilegeAsync(user.Id, true))" Style="width: 100%" />
                                }
                                else if(user.Privilege == PrivilegeConstants.Moderator)
                                {
                                    <RadzenButton Text="Rétrograder utilisateur" Click="(() => ChangeUserPrivilegeAsync(user.Id, false))" Style="width: 100%" />
                                }
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </div>
        </div>
    }
</div>